<%= link_to "New Grocery Item", new_grocery_path %>
<% @groceries.each do |grocery| %>
    <!-- <li><%=grocery.item%></li> -->
    <li> <%= link_to grocery.item, grocery_path(grocery.id) %> 
    	 <%= link_to "edit", edit_grocery_path(grocery[:id]) %>	
    	 <%= link_to "delete", grocery, method: :delete, data: { confirm: "Are you sure?" } %>
    </li>

<% end %>