<h1>Create a New Grocery Item</h1>
<%= form_for @grocery do |f| %>

  <%= label_tag(:item, "Item:") %>
  <%= f.text_field :item %></br>

  <%= label_tag(:detail, "Detail") %> 
  <%= f.text_area :detail %></br>
  <%= f.submit "Create" %>
<% end %>